body{
    background-color: #383838;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

nav {
    background-color: #383838;
    color: #ecf0f1;
    position: fixed;
    width: 100%;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ecf0f1;
    text-decoration: none;
    font-family: "Bungee", sans-serif;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s;
    font-family: Avenir, sans-serif;
    font-size: 0.8rem;
}

.nav-links a:hover {
    color: #000000;
}

.sport-logo-nfl {
    width: 50px;
    max-height: 50px;
    object-fit: contain;
}

.sport-logo-nba {
    width: 55px;
    max-height: 55px;
    object-fit: contain;
}

.sport-logo-mlb {
    width: 55px;
    max-height: 55px;
    object-fit: contain;
}

h1 {
    color: #fff;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Bungee", sans-serif;
}

.heading {
    font-size: 3rem;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 100px;
}

.cardContainer {
    display: flex;
    gap: 100px;
    align-items: center;
    font-family: Avenir, sans-serif;
    color: #eeeeee;
}

.editCardDetails {
    flex: 1;
}

.editImage {
    flex: 1;
    max-width: 100%;
}

.editForm {
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: #383838;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 50px;
    margin: 30px 0;
}

.error {
    color: #ff0000;
    font-family: Avenir, sans-serif;
}

.submitTitle {
    color: #eeeeee;
}

label {
    color: #fff;
    padding: 0.5rem;
    transition: color 0.3s;
    font-family: Avenir, sans-serif;
    font-size: 0.8rem;
    text-align: left;
}

.addInput {
    background-color: #383838;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px;
}

.submitButton {
    background-color: #383838;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 10px;
    transition: all 0.3s;
}

.submitButton:hover {
    color: #383838;
    background-color: #fff;
}

footer {
    display: flex;
    color: #000;
    background-color: #D9D9D9;
    text-align: center;
    padding: 20px 50px;
    font-family: Avenir, sans-serif;
    justify-content: space-between;
    font-size: 0.8rem;
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .addTitle {
        margin-top: 100px;
    }

    .addForm{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: x-large;
        width: fit-content;
        margin-top: 1rem;
        color: #79705D;
    }

}
